@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --red-color: #F64B4B;
  --section-title-weight: 400;
  --section-subtitle-color: rgba(0, 0, 0, 0.514);
  --section-body-margin: 50px;
}

header {
  position: sticky !important;
  background: white !important;
  top: 0 !important;
  z-index: 999;
}